apiVersion: apps/v1
kind: Deployment
metadata:
  name: filebrowser
spec:
  replicas: 1
  selector:
    matchLabels:
      app: filebrowser
  template:
    metadata:
      labels:
        app: filebrowser

    spec:
      securityContext:
        fsGroup: 1000
        runAsGroup: 1000
        runAsUser: 1000

      containers:
        - name: filebrowser
          image: hurlenko/filebrowser:v2.49.0
          ports:
            - containerPort: 8080
              protocol: TCP
          envFrom:
            - configMapRef:
                name: filebrowser-configmap

          securityContext:
            allowPrivilegeEscalation: false

          volumeMounts:
            - name: filebrowser-config
              mountPath: /config
            - name: navidrome-music
              mountPath: /data

      volumes:
        - name: filebrowser-config
          persistentVolumeClaim:
            claimName: filebrowser-config-pvc
        - name: navidrome-music
          persistentVolumeClaim:
            claimName: navidrome-music-pvc
